<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WELCOME</title>
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/common.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div id="wrap">
      <header>
        <h1 class="logo"><a href="#">마음푸쉬</a></h1>
        <span>당신의 마음을 상대방에게 푸쉬!</span>
      </header>
      <article>
        <a href="/login">시작하기</a>
        <div class="total">total</div>
      </article>
    </div>
  </body>
</html>
