<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login user</title>
  </head>
  <body>
    <h1><%= userName %> 님! 환영합니다.</h1>
    <fieldset>
      지인들에게 내 롤링페이퍼를 공유하세요!
      <div>
        <a href="/paper/:<%= userId %>">URL(서버 주소 + /paper/userId)</a>
      </div>
    </fieldset>
    <h3>공유하기</h3>
    <div>카카오, 네이버, 등등</div>
  </body>
</html>
