<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Paper</title>
  </head>
  <body>
    <h1><%= userName %>님의 롤링 페이퍼~!</h1>
    <div class="postContainer">
      <div class="postContent">편지 컨텐츠 영역</div>
      <div class="postBtn">
        <button>수정</button>
        <button>삭제</button>
      </div>
    </div>
    <label for="post">
      남기고 싶은 말: <input type="text" name="post" />
    </label>
    <label for="postPw">
      비밀번호: <input type="password" name="postPw" />
    </label>
    <button>입력</button>
  </body>
</html>
