#wrap {
  text-align: center;
}
#wrap h1 {
  font-size: 2em;
  padding: 40px 0 50px;
}
#wrap fieldset {
  width: 90%;
  margin: 0 auto;
  height: 50vh;
  border-radius: 15px;
  color: #333;
  background: url(/static/img/paper.png);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Pretendard-Regular";
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.5em;
}
#wrap fieldset .url {
  padding: 20px;
}
#wrap .share {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#wrap .share .btn {
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  width: 400px;
  box-sizing: border-box;
  border-radius: 15px;
  display: block;
  padding: 20px;
  margin: 10px;
}
#wrap .share #facebook {
  margin-top: 20px;
  border: 2px solid blue;
}
#wrap .share #kakao {
  border: 2px solid yellow;
}