.logo {
  img {
    width: 200px;
    margin: 30px 0;
  }
  text-align: center;
}

.error-box {
  text-align: center;

  h2 {
    font-size: 2rem;
  }

  p {
    margin: 10px 0 20px 0;
  }

  a {
    border-bottom: 2px solid white;
  }
}
